# Avoid accidentally uploading certificates
*.pem
!certificates/node-soap/*.pem

# Upload p12 file only if in certificates folder
*.p12
!certificates/INSI-AUTO/AUTO-certificate.p12
!certificates/INSI-AUTO/AUTO-certificate-fake.p12
!certificates/INSI-MANU/MANU-certificate.p12
!certificates/bad-ssl/badssl.com-client.p12
!certificates/mss/padoa-group-environnement-dev.22-04-2024-12-16-14.p12
!certificates/mss/updated-padoa-group-environnement-dev.22-04-2024-12-16-14.p12

# Taken from https://github.com/microsoft/TypeScript-Node-Starter/blob/master/.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
